/* Color Palette
#f2faf9 Light
#262e2d Dark
#BDE5E1 Primary
#d7efed PrimaryLight
#5f7371 PrimaryDark
#F88767 Secondary
#f99f85 SecondaryLight
#c66c52 SecondaryDark
*/

:root {
  --color-light: #f2faf9;
  --color-dark: #394544;
  --color-primary: #bde5e1;
  --color-primary-light: #def2f0;
  --color-primary-dark: #4c5c5a;
  --color-secondary: #f88767;
  --color-secondary-light: #f99f85;
  --color-secondary-dark: #c66c52;
}
/* Global styles 
------------------------------------*/
body {
  background: var(--color-light);
  color: var(--color-dark);
  font-family: "Inter", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Domine", serif;
  font-weight: 700;
}
h1 {
  font-size: 3em;
}
a {
  color: var(--color-secondary);
}
a:hover {
  color: var(--color-secondary-light);
}

.text-secondary {
  color: var(--color-secondary);
}

/* Header & Footer 
------------------------------------*/
header {
  background-color: var(--color-primary);
  color: var(--color-primary-dark);
  padding: 20px;
}
footer {
  background-color: var(--color-dark);
  color: var(--color-light);
  padding: 20px;
}

/* Work Experience
------------------------------------*/
section {
  background-color: var(--color-primary-light);
  padding: 20px;
  margin: 20px 0;
}

/* Education
------------------------------------*/
